* {
    font-family: 'Coiny', sans-serif;
}

body {
    margin: 0px;
}

#login {
    background-color: #1ed760;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#login:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

#last-month {
    background-color: #4969E1;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#last-month:hover {
    background-color: #324AA5;
    cursor: pointer;
}

#last-six-months {
    background-color: #4969E1;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#last-six-months:hover {
    background-color: #324AA5;
    cursor: pointer;
}

#last-month-tracks {
    display: none;
}

#last-six-months-tracks {
    display: none;
}

.header, .months-buttons {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.front-container, .back-container {
    height: 100vh;
    width: 100%; 
    display: flex;   
}

.front-content {
    display: flex;
    flex-basis: 100%;
    border: 4px solid black;
    border-radius: 12px;
    max-width: 30em;
    margin: auto;
    padding: 1em;
}

.profile-pic {
    display: flex;
    flex-basis: 33.3%;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    min-width: 70%;
    border-radius: 12px;
}

.profile-desc {
    display: flex;
    flex-grow: 66.6%;
    flex-direction: column;
}