* {
    font-family: 'Coiny', sans-serif;
    text-align: center;
}

#login {
    background-color: #1ed760;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#login:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

#last-month {
    background-color: #4969E1;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#last-month:hover {
    background-color: #324AA5;
    cursor: pointer;
}

#last-six-months {
    background-color: #4969E1;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#last-six-months:hover {
    background-color: #324AA5;
    cursor: pointer;
}

#last-month-tracks {
    display: none;
}

#last-six-months-tracks {
    display: none;
}