* {
    font-family: 'Coiny', sans-serif;
}

body {
    margin: 0px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#title {
    font-size: 100px;
}

#subtitle {
    font-size: 2.5em;
    margin-top: -50px;
}

.logout {
    margin-bottom: 10px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: #1ed760;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#login:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

#last-month, #last-six-months, #logout {
    background-color: #4969E1;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#last-month:hover, #last-six-months:hover, #logout:hover {
    background-color: #324AA5;
    cursor: pointer;
}

#last-six-months-tracks {
    display: none;
}

.header, .months-buttons, #logout {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.front-container, .back-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.front-content, .back-content {
    width: 30em;
    max-width: 100%;
    border: 4px solid black;
    border-radius: 12px;
    max-width: 30em;
    margin: auto;
    padding: 1em;
    display: flex;
}

.profile-pic {
    width: 30%;
    margin-right: 2em;
}

.profile-pic img {
    width: 100%;
    border-radius: 12px;
}

.profile-desc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}